<div class="footer-links" [ngClass]="{ 'active' : isSubscribe }" (click)="openSubscribe()">
    <h5 class="footer-title">subscribe
        <span class="according-menu"><i class="fas fa-chevron-down"></i></span>
    </h5>
    <div class="footer-content" [ngClass]="{ 'd-block' : isSubscribe , 'd-none d-md-block' : !isSubscribe}">
        <p class="mb-0">
            Real estate investing involves the purchase, Improvement of realty, management and sale or rental of real estate for profit.
        </p>
        <form>
            <div class="input-group">
                <input type="email" class="form-control" placeholder="Email Address" required>
                <span class="input-group-apend">
                    <button type="submit" class="input-group-text" id="basic-addon2">
                        <i class="fas fa-paper-plane"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
