<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Change password</h5>
    <button type="button" class="btn-close" (click)="modal.dismissAll()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row gx-3">
        <div class="form-group col-12">
          <label for="p-o">current password</label>
          <input type="password" class="form-control" id="p-o">
        </div>
        <div class="form-group col-12">
          <label for="p-n">enter new password</label>
          <input type="password" class="form-control" id="p-n">
        </div>
        <div class="form-group col-12">
          <label for="p-c">confirm your password</label>
          <input type="password" class="form-control" id="p-c">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-dashed color-2 btn-pill" (click)="modal.dismissAll()">Cancel</button>
    <button type="button" class="btn btn-gradient color-2 btn-pill" (click)="modal.dismissAll()">Save changes</button>
  </div>
</div>
