<div class="filter-panel">
  <div class="top-panel tab-icon">
    <div class="filters respon-filter-content filter-button-group">
      <ul>
        <li (click)="getTab('all')" [ngClass]="{ 'active' : activeTab == 'all' }">
          <app-feather-icons [icon]="'home'"></app-feather-icons>
          <span>All Property</span>
        </li>
        <li (click)="getTab('sale')" [ngClass]="{ 'active' : activeTab == 'sale' }">
          <app-feather-icons [icon]="'divide-circle'"></app-feather-icons>
          <span>For Sale</span>
        </li>
        <li (click)="getTab('rent')" [ngClass]="{ 'active' : activeTab == 'rent' }">
          <app-feather-icons [icon]="'map'"></app-feather-icons>
          <span>For rent</span> 
        </li>
        <li (click)="getTab('trend')" [ngClass]="{ 'active' : activeTab == 'trend' }">
          <app-feather-icons [icon]="'file'"></app-feather-icons>
          <span>trend</span>
        </li>
      </ul>
    </div>
  </div>
</div>
