<div class="advance-card">
  <h6>Contact Info</h6>
  <div class="category-property">
    <div class="agent-info">
      <div class="media">
        <img src="assets/images/testimonial/3.png" class="img-50" alt="user-image">
        <div class="media-body ms-2">
          <h6>Jonathan Scott</h6>
          <p>Contact&#64;gmail.com</p>
        </div>
      </div>
    </div>
    <ul>
      <li>
        <app-feather-icons [icon]="'map-pin'" class="me-2"></app-feather-icons>
        A-32, Albany, Newyork.
      </li>
      <li>
        <app-feather-icons [icon]="'phone-call'" class="me-2"></app-feather-icons>
        (+066) 518 - 457 - 5181
      </li>
    </ul>
  </div>
</div>
