<form class="row gx-3">
  <div class="form-group col-sm-6">
    <label>Address</label>
    <input type="text" class="form-control" placeholder="Address of your property">
  </div>
  <div class="form-group col-sm-6">
    <label>Zip code</label>
    <input type="number" class="form-control" placeholder="39702">
  </div>
  <div class="form-group col-sm-4">
    <label>Any Country</label>
    <select class="form-control">
      <option value="austria">Austria</option>
      <option value="brazil">Brazil</option>
      <option value="new_york">New york</option>
      <option value="usa">USA</option>
    </select>
  </div>
  <div class="form-group col-sm-4">
    <label>Any City</label>
    <select class="form-control">
      <option value="surat">Surat</option>
      <option value="junagadh">Junagadh</option>
      <option value="bharuch">Bharuch</option>
      <option value="ahmadabad">Ahmadabad</option>
    </select>
  </div>
  <div class="form-group col-sm-4">
    <label>Landmark</label>
    <input type="text" class="form-control" placeholder="landmark place name">
  </div>
</form>
