<div class="media">
  <div class="change-pic">
    <img src="assets/images/avatar/3.jpg" class="img-fluid update_img" alt="user-image">
    <div class="change-hover">
      <button type="button" class="btn"><app-feather-icons [icon]="'camera'"></app-feather-icons></button>
      <input class="updateimg" type="file" name="img">
    </div>
  </div>
  <div class="media-body">
    <h5>Zack Lee</h5>
    <h6 class="font-roboto">zackle&#64;gmail.com</h6>
    <h6 class="font-roboto mb-0">+91 846 - 547 - 210</h6>
  </div>
</div>
<div class="connected-social">
  <h6>Connect with</h6>
  <ul class="agent-social">
    <li><a href="https://www.facebook.com/" class="facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="https://twitter.com/" class="twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
    <li><a href="https://account.google.com" class="google" target="_blank"><i class="fab fa-google"></i></a></li>
    <li><a href="https://www.linkedin.com/" class="linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
  </ul>
</div>
