<div class="footer-details text-center">
    <a href="javascript:void(0)"  [routerLink]="['']">
        <img [src]="footerLogo" alt="logo">
    </a>
    <p>Elegant retreat in a quiet Coral Gables setting. This home provides wonderful entertaining spaces with a chef kitchen opening
    </p>
    <h6>Contact us</h6>
    <ul class="icon-list">
        <li><a href="javascript:void(0)" [routerLink]="['/contact/contact-3']"><i class="fas fa-map-marker-alt"></i></a></li>
        <li><a href="javascript:void(0)" [routerLink]="['/contact/contact-3']"><i class="fas fa-phone-alt"></i></a></li>
        <li><a href="javascript:void(0)" [routerLink]="['/page/other-pages/sign-up']"><i class="fas fa-envelope"></i></a></li>
        <li><a href="javascript:void(0)" [routerLink]="['/contact/contact-3']"><i class="fas fa-globe"></i></a></li>
        <li><a href="javascript:void(0)" [routerLink]="['/contact/contact-3']"><i class="fas fa-wifi"></i></a></li>
    </ul>
</div>
