<app-breadcrumb [bgImage]="bgImage" [title]="title" [parent]="parent" [child]="child"></app-breadcrumb>

<section class="about-section slick-between ratio_square">
  <div class="container">
    <div class="row">
      <div class="col">
        <app-title [titleClass]="'title-1'" [tag]="'Agent'" [heading]="'Meet our Agent'" [textWhite]="false" [type]="'simple'" [tagClass]="'color-1'"></app-title>
        <div class="about-1 about-wrap arrow-white color-6">
          <app-agents [agentsData]="agentsData1" [type]="'simple'" [tagClass]="'color-1'"></app-agents>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-section slick-between bg-light ratio_square">
  <div class="container">
    <div class="row">
      <div class="col">
        <app-title [titleClass]="'title-3'" [tag]="'Our'" [heading]="'Agent'" [desc]="desc1" [svgIcon]="true" [type]="'simple'" [svgClass]="false"></app-title>
        <div class="about-2 about-wrap">
          <app-agents [agentsData]="agentsData2" [type]="'basic'" [tagClass]="'color-3'"></app-agents>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-section slick-between modules-about-layout">
  <div class="container">
    <div class="row ratio_asos ">
      <div class="col">
        <app-title [titleClass]="'title-3 text-start'" [heading]="'Our Agent'" [desc]="desc2" [type]="'basic'"></app-title>
        <div class="about-3 arrow-gradient arrow-right">
          <app-agents [agentsData]="agentsData3" [type]="'classic'"></app-agents>
        </div>
      </div>
    </div>
  </div>
</section>
