<app-breadcrumb [bgImage]="bgImage" [title]="title" [parent]="parent" [child]="child"></app-breadcrumb>

<section class="property-section section-sm">
  <div class="container-fluid">
    <div class="row ratio_65 property-grid-2 property-map">
      <div class="col-12">
        <app-grid-panel [filter]="true"  [paginationData]="paginationData" (filterValue)="sortFilter($event)" [isList]="true"></app-grid-panel>
        <app-common-filter-listing [style]="'horizontal'" ></app-common-filter-listing>
      </div>
      <div class="col-xl-7">
        <app-common-filter-property-box [type]="'list'" [filter]="true" [gridImages]="true" [filterValue]="filterValue"  (paginationData)="getPaginationData($event)"></app-common-filter-property-box>
      </div>
      <div class="col-xl-5  map-section ">
        <div class="map" id="map">
          <google-map width="100%" height="75vh" [options]="mapOptions"></google-map>
        </div>
      </div>
    </div>
  </div>
</section>
