<app-breadcrumb [bgImage]="bgImage" [title]="title" [parent]="parent" [child]="child"></app-breadcrumb>

<section class="ratio_40">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-8 order-lg-1">
        <div class="blog-single-detail theme-card">
          @for(data of blogDetails; track data){
            <app-blog-detail [blogDetails]="data"></app-blog-detail>
          }
          <div class="comment-section">
            <h4>comments:</h4>
            <div class="comment-box">
              @for(data of commentsData; track data){
                <app-blog-detail-comments [commentsData]="data"></app-blog-detail-comments>
              }
            </div>
          </div>
          <app-blog-detail-leave-comments></app-blog-detail-leave-comments>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4">
        <div class="sticky-cls blog-sidebar blog-left">
          <app-blog-page-filter></app-blog-page-filter>
        </div>
      </div>
    </div>
  </div>
</section>


