<app-breadcrumb [bgImage]="bgImage" [title]="title" [parent]="parent" [child]="child"></app-breadcrumb>

<section class="faq-section log-in">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-lg-1">
        <div class="faq-image text-center">
          <img src="assets/images/inner-pages/3.svg" class="img-fluid" alt="image">
          <h3>Have Any Questions ?</h3>
          <p class="font-roboto">You can ask anything you want to know</p>
        </div>
        <form>
          <div class="form-group mb-0">
            <label>Let me know</label>
            <input type="text" class="form-control" placeholder="Ask a question" required>
          </div>
          <button type="submit" class="btn btn-gradient color-2">Send</button>
        </form>
      </div>
      <div class="col-lg-6">
        <div class="faq-questions">
          <div class="title-3 text-start">
            <h2>Frequently ask question</h2>
          </div>
          <div class="accordion" ngbAccordion [closeOthers]="true">
            @for (data of faqData; track data) {
              <div class="card"  ngbAccordionItem [collapsed]="data.panelNumber !== 'First'">
                <div class="card-header" ngbAccordionHeader>
                  <a class="card-link" href="javascript:void(0)" ngbAccordionToggle>
                    {{ data.title }}
                  </a>
                </div>
                <div ngbAccordionCollapse>
                  <div class="card-body" ngbAccordionBody>
                    <ng-template>
                      {{ data.description }}
                    </ng-template>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

