<footer>
    <div class="footer footer-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-3">
                    <app-contact-two [footerLogo]="footerLogo"></app-contact-two>
                </div>
                <div class="col-xl-9">
                    <div class="row">
                        <div class="col-lg-3 col-md-4">
                            <app-useful-links></app-useful-links>
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <app-features></app-features>
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <app-social></app-social>
                        </div>
                        <div class="col-lg-4">
                            <app-subscribe></app-subscribe>
                        </div>
                    </div>
                    <div class="bottom-blog">
                      <app-latest-blog-horizontal></app-latest-blog-horizontal>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer footer-light">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-6">
                    <app-copy-right-two></app-copy-right-two>
                </div>
                <div class="col-xl-6 col-md-6 text-end">
                    <app-footer-menu></app-footer-menu>
                </div>
            </div>
        </div>
    </div>
</footer>
