<div class="footer-links footer-left-space">
    <h5 class="footer-title" [ngClass]="{ 'active' : isBuyData }" (click)="openBuy()">Buy
        <span class="according-menu"><i class="fas fa-chevron-down"></i></span>
    </h5>
    <ul class="footer-content" [ngClass]="{ 'd-block' : isBuyData , 'd-none d-md-block' : !isBuyData}">
      @for(data of buyFooterData; track data){
        <li>
            <a href="javascript:void(0)"[routerLink]="data.path">
              <app-feather-icons [icon]="'chevron-right'"></app-feather-icons>
                {{ data.title }}
            </a>
        </li>
      }
    </ul>
</div>
