<div class="single-property-section" style="z-index: 1;">
  <div class="container" >
    <div class="single-title">
      <div class="left-single">
        <div class="d-flex">
          <h2 class="mb-0">{{ propertyDetails ? propertyDetails.title : 'Orchard House' }} </h2>
          <span><span class="label label-shadow ms-2">For Sale</span></span>
        </div>
        <p class="mt-2">{{ propertyDetails ? propertyDetails.country : 'Mina Road, Bur Dubai, Dubai, United Arab Emirates' }}</p>
        <ul>
          <li>
            <div>
              <img src="assets/images/svg/icon/double-bed.svg" class="img-fluid" alt="bed-icon">
              <span>{{ propertyDetails ? propertyDetails.bed : '4' }} Bedrooms</span>
            </div>
          </li>
          <li>
            <div>
              <img src="assets/images/svg/icon/bathroom.svg" class="img-fluid" alt="bathroom-icon">
              <span>{{ propertyDetails ? propertyDetails.bath : '4' }} Bathrooms</span>
            </div>
          </li>
          <li>
            <div>
              <img src="assets/images/svg/icon/sofa.svg" class="img-fluid" alt="sofa-icon">
              <span>{{ propertyDetails ? propertyDetails.rooms : '2' }} Rooms</span>
            </div>
          </li>
          <li>
            <div>
              <img src="assets/images/svg/icon/square-ruler-tool.svg" class="img-fluid ruler-tool" alt="ruler-icon">
              <span>{{ propertyDetails ? propertyDetails.sqft : '5000' }} Sq ft</span>
            </div>
          </li>
          <li>
            <div>
              <img src="assets/images/svg/icon/garage.svg" class="img-fluid" alt="garage-icon">
              <span>1 Garage</span>
            </div>
          </li>
        </ul>
        <div class="share-buttons">
          <div class="d-inline-block">
            <a href="javascript:void(0)" class="btn btn-gradient btn-pill color-2"><i class="far fa-share-square"></i>
              share
            </a>
            <div class="share-hover">
              <ul>
                <li>
                  <a href="https://www.facebook.com/" class="icon-facebook">
                    <app-feather-icons [icon]="'facebook'"></app-feather-icons>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/" class="icon-twitter">
                    <app-feather-icons [icon]="'twitter'"></app-feather-icons>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/" class="icon-instagram">
                    <app-feather-icons [icon]="'instagram'"></app-feather-icons>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <a href="javascript:void(0)" class="btn btn-dashed btn-pill color-2 ms-md-2 ms-1 save-btn"><i class="far fa-heart"></i> Save</a>
          <a href="javascript:void(0)" class="btn btn-dashed btn-pill color-2 ms-md-2 ms-1" (click)="print()">
            <app-feather-icons [icon]="'printer'"></app-feather-icons> Print</a>
        </div>
      </div>
      <div class="right-single">
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        @if(propertyDetails){
          <h2 class="price">{{  propertyDetails.price | currencySymbol: propertyService.Currency }} <span>/ start From</span></h2>
        }@else if(!propertyDetails){
          <h2 class="price">{{ 2045472 | currencySymbol: propertyService.Currency }} <span>/ start From</span></h2>
        }
        <div class="feature-label">
          <span class="btn btn-dashed color-2 btn-pill">Wi-fi</span>
          <span class="btn btn-dashed color-2 ms-1 btn-pill">Swimming Pool</span>
        </div>
      </div>
    </div>
  </div>
</div>
