<app-typed-image-home-section></app-typed-image-home-section>

<app-slider-filter-latest-rent [propertyClass]="false" [tagClass]="'color-1'" [title]="title"></app-slider-filter-latest-rent>

<app-slider-filter-featured-property [tagClass]="'color-1'" [title]="title" [sectionClass]="'layout9'"></app-slider-filter-featured-property>

<app-slider-filter-latest-rent [propertyClass]="false" [tagClass]="'color-1'" [total]="3" [title]="title"></app-slider-filter-latest-rent>

<div class="typed-image-slider">
    <app-slider-filter-banner [tagClass]="'color-1'" [title]="title"></app-slider-filter-banner>
</div>

<app-slider-filter-property-in-cities [tagClass]="'color-1'" [title]="title"></app-slider-filter-property-in-cities>

<div class="typed-image-slider">
    <app-slider-filter-happy-client [tagClass]="'color-1'" [title]="title"></app-slider-filter-happy-client>
</div>

<app-slider-filter-agents [tagClass]="'color-1'" [title]="title"></app-slider-filter-agents>

<app-slider-filter-new-offer [tagClass]="'color-1'" [title]="title" [sectionClass]="'layout9'"></app-slider-filter-new-offer>

<app-image-content-brand></app-image-content-brand>
