<app-breadcrumb [bgImage]="bgImage" [title]="title" [parent]="parent" [child]="child"></app-breadcrumb>

<section class="small-section bg-light brand-wrap">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="slide-2 brand-slider">
          <app-brand [brandData]="brandData1" [type]="'basic'"></app-brand>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="small-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="slide-1 brand-slider">
          <app-brand [brandData]="brandData2" [type]="'simple'"></app-brand>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="small-section bg-light bg-light-blue arrow-gradient">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="slide-3 brand-slider">
          <app-brand [brandData]="brandData3" [type]="'classic'"></app-brand>
        </div>
      </div>
    </div>
  </div>
</section>
